<div class="row">
    <h1>Hards & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageWidth]="80"
        [imageHeight]="80"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ffe6e6'"
        [innerStrokeColor]="'#777574'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> <!--"showUnits" saca el %-->
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/CSS.png'"
    [showImage]="true"
    [imageWidth]="80"
    [imageHeight]="80"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#ffe6e6'"
    [innerStrokeColor]="'#777574'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress> <!--"showUnits" saca el %-->
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="70"
[radius]="100"
[imageSrc]="'../assets/js.png'"
[showImage]="true"
[imageWidth]="80"
[imageHeight]="80"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#ffe6e6'"
[innerStrokeColor]="'#777574'"
[animation]="true"
[animationDuration]="600"
></circle-progress> <!--"showUnits" saca el %-->
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="35"
[radius]="100"
[imageSrc]="'../assets/eng.png'"
[showImage]="true"
[imageWidth]="80"
[imageHeight]="80"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#ffe6e6'"
[innerStrokeColor]="'#777574'"
[animation]="true"
[animationDuration]="600"
></circle-progress> <!--"showUnits" saca el %-->
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="70"
[radius]="100"
[imageSrc]="'../assets/git.png'"
[showImage]="true"
[imageWidth]="80"
[imageHeight]="80"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#ffe6e6'"
[innerStrokeColor]="'#777574'"
[animation]="true"
[animationDuration]="600"
></circle-progress> <!--"showUnits" saca el %-->
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="100"
[radius]="100"
[imageSrc]="'../assets/grupal.png'"
[showImage]="true"
[imageWidth]="80"
[imageHeight]="80"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#ffe6e6'"
[innerStrokeColor]="'#777574'"
[animation]="true"
[animationDuration]="600"
></circle-progress> <!--"showUnits" saca el %-->
</div>
</div>