<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-1"></div> <!--para que deje el espacio de una columna-->
<div class="col-lg-11">
    <ul style="list-style:none" >
        <li >
            <h2>Profesora de Lengua y Literatura</h2>
            <h5><time>2010-2022 </time> </h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus recusandae dignissimos enim nostrum facilis vitae. Earum explicabo amet voluptatibus animi doloremque illo cum ex, quidem voluptas consectetur? Voluptate, repudiandae odit.</p>
        </li>
    </ul>
    

</div>
</div>
