<div class="container-fluid">
<div class="row">
    <h1>Proyectos realizados</h1>
        <div class="container">
           <ul>
            
                 <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                    <h2>Encriptador</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum impedit optio adipisci veritatis? Commodi molestiae ea beatae. Quas laboriosam est sed unde inventore corrupti nobis blanditiis tenetur quam! Officia, aut.</p>
                 </div>
                 <div class="col-sm-12 col-md-7 col-lg-7 parte2">
                  <h2>Blog café</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum impedit optio adipisci veritatis? Commodi molestiae ea beatae. Quas laboriosam est sed unde inventore corrupti nobis blanditiis tenetur quam! Officia, aut.</p>
               </div>
                 <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                    <img class="img-fluid img-proyecto" src="">
                 </div>
               
            </ul>
        </div>
</div>
</div>
