<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAp">
        </div>
        <div class="redes">
                <a href=""><img src="../../../assets/linkedin.png" id="Linkedin"></a>
                <a href=""><img src="../../../assets/twitter.png" id="Twitter"></a>
                <a href=""><img src="../../../assets/instagram.png" aid="Instagram"></a>
                <a href=""><img src="../../../assets/github.png" id="Github"></a>
                <a href=""><img src="../../../assets/facebook.png" id="Facebook"></a>
                <button type="button" class="btn btn-outline-light">INGRESAR</button>   
        </div>
    </div>
</div>

