.row {
    padding: 20px;
}
div{
    background-color: #e7b0ee;
}

h1 {
    display: inline;
    font-family: 'Titillium Web', sans-serif;
    text-decoration-line: underline;
}
h2 {
   
    font-family: 'Titillium Web', sans-serif;
} /*que ocupe el espacio de lo que está escrito, nada mas*/

h3 {
   
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
}

time {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
